* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

#ifname-1 {
    width: 100%;
    height: 100px;
}

#ifname-2 {
    width: 100%;
    height: 350px;
}

.register-box {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 100px;
    margin-bottom: 40px;
    border: 1px rgb(188, 188, 188) solid;
    border-radius: 10px;

    // 标题
    p {
        /* 标题 */
        font-size: 22px;
        line-height: 26px;
        margin-top: 20px;
        padding: 0 20px;
        color: rgb(71, 71, 71);
        border-left: 7px rgb(254, 84, 65) solid;
    }

    // 版心
    div {
        /* 版心 */
        width: 60%;
        margin-left: 30%;
        margin-top: 50px;

        input {
            width: 65%;
            height: 50px;
            background-color: rgb(241, 241, 241);
            border-radius: 10px;
            border: none;
            margin-bottom: 20px;
            font-size: 16px;
            text-indent: 1em;
        }


        input:nth-of-type(2) {
            width: 40%;
        }

        #r-span {
            display: inline-block;
            width: 20%;
            height: 45px;
            vertical-align: middle;
            margin-left: 23px;
            background: url(../img/imgCode.jpg) no-repeat 1px;
        }

        input:nth-of-type(3) {
            width: 40%;
        }

        button {
            width: 22%;
            height: 50px;
            border-radius: 10px;
            margin-left: 15px;
            background-color: white;
            color: rgb(171, 171, 171);
            font-size: 16px;
            border: 1px rgb(190, 190, 190) solid;
        }

        #zc {
            width: 65%;
            height: 50px;
            background-color: rgb(254, 83, 65);
            margin-left: 0;
            font-size: 18px;
            color: white;
        }

        .h-span {
            color: gray;
            margin-left: 10px;
            display: none;
        }
    }
}