* {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

iframe {
    width: 100%;
    height: 100px;
}

h1,
h2,
h3 {
    font-weight: normal;
}

a {
    text-decoration: none;
}

/* 音响 */
nav {
    /* width: 100%; */
    height: 300px;
    margin-top: -35px;
    background: url(../../img/original.jpg) no-repeat -15px 5px;
    overflow: hidden;
}

nav div {
    width: 25%;
    height: 250px;
    margin-top: 30px;
    margin-left: 1050px;
    overflow: hidden;
}

nav div h1 {
    color: white;
    font-size: 34px;
    font-weight: 500;
    letter-spacing: 2px;
}

nav div p {
    padding: 5px 10px;
    margin-left: 15px;
    margin-top: 20px;
    float: left;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
}

nav div p:nth-of-type(1) {
    margin-left: 90px;
}

nav div p:nth-of-type(4) {
    margin-left: 40px;
    background-color: transparent;
    font-size: 18px;
    font-weight: 500;
}

nav div button {
    background-color: #fe5341;
    margin-top: 30px;
    margin-left: 70px;
    width: 75%;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

/* 音响飞入动画 */
@keyframes fly {
    0% {
        transform: translate(1200px, -600px);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

#fly {
    animation: fly 1s;
}

/* 试用流程 */
.box {
    background: #f0f0f0;
    height: 62px;
    padding: 20px 0;
}

#box_1 {
    width: 1000px;
    margin: 0px auto;
}

#box1 {
    float: left;
    font-size: 20px;
    width: 43px;
    padding-left: 11px;
    border-left: 6px #fe5341 solid;
}

 #box_1 ul li {
    width: 188px;
    height: 50px;
    float: left;
    text-align: center;
}

#box_1>ul>li>p {
    margin-top: 43px;
    margin-right: 5px;
    font-size: 12px;
    color: #737373;
    display: inline-block;
}

.box .box_1 .box1>ul>li:nth-of-type(1) p {
    border-bottom: 2px solid #fe5341;
}
.box li:nth-of-type(1) {
    background: url(../../img/use1.png) no-repeat center top;
}
.box li:nth-of-type(2) {
    background: url(../../img/use2.png) no-repeat center top;
}
.box li:nth-of-type(3) {
    background: url(../../img/use3.png) no-repeat center top;
}
.box li:nth-of-type(4) {
    background: url(../../img/use4.png) no-repeat center top;
}
.box li:nth-of-type(5) {
    background: url(../../img/use5.png) no-repeat center top;
}
/* 试用报告详情 */

.box .fi{
    width: 1000px;
    height: 2045px;
    /* background-color: #fe5341; */
    margin: 100px auto;
    margin-bottom:0px ;
}
.box .left{
    float: left;
    height: 100%;
    font-size: 16px;
    width: 700px;
    /* background-color: aliceblue; */
}
.box .txet1{
    position: relative;
    padding: 18px 0 16px 0px;
    font-size: 20px;
}
.box .txet1>span{
    border-left: 6px #fe5341 solid;
}
.box .top{
    color: red;
    font-size: 18px;
    font-weight: bold
}
.box .little {
    color: rgb(0, 112, 192);
    font-weight: bold;
}
.box .blue{
    color: #0177A7;
}
.box .red{
    color: red;
    font-weight: bold;
}
/* 购买渠道 */
.money {
    font-size: 40px;
    padding: 20px 0 15px;
    color: #fe5341;
}
.buyBtn {
    color: #fff;
    background: #fe5341;
    display: inline-block;
    padding: 3px 90px;
    margin-left: 23px;
    height: 48px;
    border-radius: 5px;
    line-height: 48px;
    font-size: 18px;
    text-align: center;
}
.resource {
    margin: 10px 0;
    font-size: 14px;
    text-align: center;
    color: #a3a3a3;
}
.info h5 {
    color: #474747;
    font-size: 16px;
    padding: 5px 0;
}
.text3 {
    color: #a3a3a3;
    font-size: 14px;
}
/* 热门试用 */
.txet2{
    width: 1000px;
    margin: auto;
    font-weight: bold;
    position: relative;
    padding: 18px 0 16px 0px;
    font-size: 20px;
}
.txet2 a.more {
    font-weight: normal;
    position: absolute;
    right: 0;
    top: 22px;
    padding-right: 17px;
    font-size: 14px;
    background: url(../../img/readMore.png) no-repeat right 7px;
    color: #fd6959;
}

.txet2>ul>li {
    float: left;
    position: relative;
    width: 220px;
    height: 286px;
    border: 1px solid #e6e9e9;
    border-radius: 6px;
    background-color: #fff;
    margin: 20px 15px 0px 13px;
    margin-bottom: 40px;
  }
  .txet2 ul li > a {
    color: #ccc;
  }
  .txet2 ul li > a > span {
    display: inline-block;
    background: #fe5341;
    color: #f5e8e8;
    line-height: 22px;
    padding: 0 8px;
    border-radius: 0 0 0 6px;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
  }
  .txet2 ul li > a img {
    width: 218px;
    height: 128px;
  }
  @keyframes fade {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }
}

.txet2  ul li a img:hover {
    animation: fade 1s ease-in infinite;
}

  .txet2 ul li > a .all-btm {
    padding: 8px 8px 14px;
    text-align: center;
  }
.txet2 ul li > a .all-btm h2 {
    font-size: 14px;
    height: 20px;
    font-weight: 500;
    color: #333;
    font-weight: bold;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* 这里是超出几行省略 */
    overflow: hidden;
  }
  .txet2 ul li > a .all-btm p:nth-of-type(1) span {
    border: 1px solid  #fe5341;
    display: inline-block;
    padding: 2px 10px;
    margin: 0 5px;
    color: red;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 400;
    
  }
  .txet2 ul li > a .all-btm p:nth-of-type(2) {
    margin: 8px 0;
    color: #333;
    font-size: 16px;
    font-weight: 400;
  }
  .txet2 ul li > a .all-btm p:nth-of-type(2) span {
    color: #fe5341;
   
 
  }
  .txet2 ul li > a .all-btm p:nth-of-type(3) {
    font-size: 14px;
    color: #fe5341;
    font-weight: 400;
  }
 
/* 底部 */
.bbc {
    width: 99%;
    height: 350px;
}